<%= form_for(@map) do |f| %>
    <script type="text/javascript">
        <% marker_row_template = f.fields_for :markers, Marker.new, :child_index => 'new_marker' do |m|
           render 'marker_fields', :marker => m
           end %>
        var marker_row_template = "<%= escape_javascript(marker_row_template) %>";
    </script>


  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2>Невозможо сохранить карту:</h2>

      <ul>
      <% @map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.text_field :title, placeholder: 'Название карты' %>
    <a id="link" target="_blank" href="">Ссылка</a>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Координаты</th>
          <th>Название</th>
          <th>Примечание</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%= f.fields_for :markers do |m| %>
          <%= render 'marker_fields', :marker => m %>
      <% end %>
      </tbody>
    </table>
    <div class="actions center-box form-actions">
    <button class="btn btn-primary" id="add-marker" type="button">Добавить метку</button>
    <%= f.submit value: 'Сохранить карту', class: 'btn btn-default' %>
    <%= link_to 'Отмена', maps_path, class: 'btn btn-default' %>
    </div>
<% end %>

<div class="center-box map">
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>